<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593268336010-8m9pfikeamerfjpoothd9aa83bqa4u84.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593268336010-8m9pfikeamerfjpoothd9aa83bqa4u84</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>593268336010-hokv5t95eg06ulph28dneo5mk1kkc34i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC9gUvugJ3DIoAuJJh5w9hAhP-hcTs67A4</string>
	<key>GCM_SENDER_ID</key>
	<string>593268336010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ilili</string>
	<key>PROJECT_ID</key>
	<string>ilili-7ebc6</string>
	<key>STORAGE_BUCKET</key>
	<string>ilili-7ebc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593268336010:ios:dff319939d794059c71473</string>
</dict>
</plist>